$bg: #1D1C23
$bgm: #062659
$bgd: #041A3E
$main: #E7E4E4
$purplish: #DB8EDA
$bluel: #073175
$bluew: #5E85C3

$xl: 30px
$l: 20px
$m: 16px
$s: 12px


$main-font: 'Lato', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

  
body 
  background: $bgd
  font-family: $main-font
  color: $main

.App 
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center


.App-logo 
  animation: App-logo-spin infinite 20s linear
  height: 80px;


.App-header 
  background-color: $bgd
  height: 150px
  padding: 20px
  color: white
  display: flex
  justify-content: center
  align-items: center


.App-title 
  font-size: 1.5em


.App-intro 
  font-size: large

.container
  display: flex
  flex-direction: column
  justify-content: center


.mainWin
  background: $bgm
  width: 600px
  height: 400px
  margin: 0 auto
  padding: 5px
  box-shadow: 0 20px 40px -20px rgba(0,0,0,0.9)
  display: flex
  justify-content: space-between

.btn
  background-image: linear-gradient(210deg, #DD8EDA 0%, #42A3F9 100%)
  font-size: 24px
  width: 600px
  height: 54px
  padding: 5px
  margin: 10px auto
  color: white
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  box-shadow: 0 20px 40px -20px rgba(0,0,0,0.7)
  transition: all 0.5s ease

.btn:hover
  box-shadow: 0 40px 40px -20px rgba(0,0,0,0.7), 0 0px 80px 2px rgba(#DD8EDA, 0.3)
 
.category-title
  display: flex
  justify-content: flex-start
  font-size: $l
  color: $purplish
  padding: $l 
  margin-bottom: 0
  padding-bottom: 0

 

.meals-cat-title
  width: 100px
  height: 30px
  text-align: left
  margin-left: 30px
  margin-bottom: 0
  padding-bottom: 0
  //background: yellow
  
.calories-cat-title
  width: 200px
  height: 30px
  text-align: right
  margin-bottom: 0
  padding-bottom: 0
  //background: green

.meal 
  display: flex
  justify-content: flex-start
  margin-top: 30px
  //background: purple

  .meal-type
    writing-mode: vertical-rl
    transform: rotate(180deg)
    font-size: $s
    padding: 5px 10px 5px 5px
    margin: 0
    color: $bluew
    //background: pink

  .table
    background: none
    display: flex
    flex-direction: column
    justify-content: space-between
    
    border-left: 2px solid $bluel
    //border-bottom: 27px solid $bluel
    .bar
      padding: 5px 15px 
      background: $bluel
      width: 300px
      align-self: stretch
      text-align: right
    .food
      padding: 5px 15px 
      //background: green
      width: 300px
      align-self: stretch
      text-align: left
      font-size: $s
     
.x
  display: flex
  justify-content: space-between
  align-items: center
  .line
    content: ''
    height: 2px
    width: 50%
    align-self: center
    background: $bluel
    


    
    


.right
  text-align: center
  //background: red
  border-left: 2px solid rgba($bluel, 0.5)
  width: 220px
  margin: 10px
  .graph
    height: 70%
  .total
    .total-label
      text-align: left
      margin-left: 30px
      font-size: $l
      color: $purplish
      padding: 0 70px
      margin: 0
     
    .result
      font-size: 45px
      color: #fff
      padding: 0
      margin: 0
      span
        color: $bluew
        font-size: $m

      

  


// .modal
//   background-image: linear-gradient(210deg, #DD8EDA 0%, #42A3F9 100%)

.Modal 
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-image: linear-gradient(210deg, #DD8EDA 0%, #42A3F9 100%)
    padding: 20px
    width: 580px
  

.Overlay 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#041A3E, 0.8)


  

  












